<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <main>
      <%- include('partials/navigation', { 
        menuLinks: menuLinks, 
        activeLinkPath: activeLinkPath
      }); %>
      <h1 class="heading">Page Not Found</h1>
      <p>Sorry, the page you are looking for does not exist.</p>
    </main>
  </body>
</html>